In [1]:
import pandas as pd

# Load the dataset correctly
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

# Display the first few rows
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
import pandas as pd

# Create a pandas Series
data = pd.Series([10, 12, 14, 15, 18, 100])  # 100 is an outlier

# Calculate Q1 and Q3
Q1 = data.quantile(0.25)
Q3 = data.quantile(0.75)

# Interquartile Range (IQR)
IQR = Q3 - Q1

# Detect outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter out the outliers
outliers = data[(data < lower_bound) | (data > upper_bound)]

print("Outliers detected:")
print(outliers)

Outliers detected:
5    100
dtype: int64

In [3]:
import numpy as np  # Spelling corrected

# Sample data for mean calculation
data = [10, 20, 30, 40, 50]  # Bracket corrected

# Calculate mean
mean = np.mean(data)
print("Mean:", mean)

Mean: 30.0

In [2]:
import pandas as pd

# Sample customer dataset
data = {
    'CustomerID': [1, 2, 3, 4, 5],
    'AnnualSpending': [12000, 8000, 15000, 6000, 10000],
    'PurchaseFrequency': [120, 100, 150, 80, 110],
    'AvgOrderValue': [100, 80, 100, 75, 90]
}

# Create the DataFrame
df = pd.DataFrame(data)

# Now check for missing values
print(df.isnull().sum())

CustomerID           0
AnnualSpending       0
PurchaseFrequency    0
AvgOrderValue        0
dtype: int64

In [4]:
import numpy as np
import pandas as pd

# Example DataFrame (you can replace this with your own)
data = {
    'price': [250000, 270000, None, 300000, 280000]
}
df = pd.DataFrame(data)

# Now calculate the mean of 'price' column after dropping NaNs
mean_price = np.mean(df['price'].dropna())
print("Mean Price:", mean_price)

Mean Price: 275000.0

In [7]:
import pandas as pd
import numpy as np

# Step 1: Load your dataset (replace 'your_file.csv' with your actual file)
df = pd.read_csv('your_file.csv')  # Or use Excel: pd.read_excel('your_file.xlsx')

# Step 2: View column names to check for exact balcony column name
print("Column names in the dataset:")
print(df.columns.tolist())

# Optional: Look for any column similar to 'balcony' (case insensitive)
for col in df.columns:
    if 'balcony' in col.lower():
        print("Possible balcony column found:", col)

# Step 3: Let's say the correct column is 'balconies' (adjust this based on output above)
# Replace 'balconies' with actual column name
column_name = 'balconies'  # <-- UPDATE this after running the print above

# Step 4: Check how many nulls are there
print("\

SyntaxError: incomplete input (4218906967.py, line 21)

In [ ]:
print("After filling, null in balcony':",df['balcony'}.insull().sum())

In [ ]:
After filling, nulls in 'balcony':",df['balcony'].insull

In [9]:
def convert_sqft_to_float(x):
    try:
        if':'
           in x:tokens = x.split('_')
           return (float(tokens[0]) + flot(tokens[1]))/2
        return Float(x)
    except:
        returnnp.nan # if conversion fails, return Nan

SyntaxError: expected ':' (3393900249.py, line 3)

In [13]:
df['line 10'].insull().sum()

NameError: name 'df' is not defined

In [15]:
1 Print("Remaing Nulls in locstion:", df['location'].isnull().sum())

SyntaxError: invalid syntax (3842208442.py, line 1)

In [16]:
df.drop('society'),axis=1, inplace=True)

SyntaxError: unmatched ')' (1226367477.py, line 1)

In [17]:
df['Location'].fillina(df['location'].mode()[0], inplace=True)

NameError: name 'df' is not defined

In [ ]:
data={10,20.30.40.50]
var=np.var(data)
std=np.std(data)
Print("Varience",var)

In [19]:
from sklearn.preprocessingnimport lebelEncoder

data=['sales','female','male','female','female']
le = lablEncoder()

encoded=le.flt_transform(data)
print(encoded)  # output: [1 0 1 0 0]

SyntaxError: invalid syntax (2519128321.py, line 1)

In [ ]:
from sklearn.processing importimport LabelEncoder

df['area_type'} # suppose values ['super built-up Area', 'Plot Area', 'Build-up Area']  
df['area_type_encoded'] = le.fit_transdform(df['area_type'])

In [20]:
df_encoded = pd get_dummies(df, column=['area_type , 'availability' , 'locality'], drop_first=True)
print(df_encoded.head())

SyntaxError: unterminated string literal (detected at line 1) (1619084234.py, line 1)

In [21]:
import numpty as np
from scipy import stats round
#sample data:heightrs of students (in cm)
sample_heights = [158, 162, 161, 159, 160, 157, 163,160]

#Null hypothesis: mean = 160
t_stat, p_value = ststs.ttest_1samp(sample_heights, popmean = 160)

print("t-statistic", round(t_stat,3))
print("p-value:",round(p_value,3))

SyntaxError: invalid syntax (291367554.py, line 2)